{{ attach_library('almd_theme/card') }}

<article class="card{{ modifier ? ' ' ~ modifier : '' }}
  {{- attributes ? ' ' ~ attributes.class -}}"
  {{- attributes ? attributes|without(class) -}}>
  {{ title_prefix }}
  {{ title_suffix }}
  <div class="card__media">
    {% if image %}
      {{ image }}
    {% endif %}
  </div>
  <div class="card__content">
    {% if date %}
      {% include "@atoms/label/label.twig" with {
        "modifier": 'card__date',
        "text": date,
      } only %}
    {% endif %}

    {% if title %}
      <header class="card__header">
        {% include "@atoms/title/title.twig" with {
          "level": title.level,
          "modifier": title.modifier,
          "text": title.text,
          "url": title.url,
        } only %}
      </header>
    {% endif %}

    {% if body %}
      <p class="card__body">
        {{ body }}
      </p>
    {% endif %}

    {% if cta  %}
      {% include "@atoms/button/button.twig" with {
          "modifier": cta.modifier,
          "text": cta.text,
          "url": cta.url,
          "icon": cta.icon,
        } only
      %}
    {% endif %}
  </div>
</article>
