{{ attach_library('almd/icon-card') }}

<article class="icon-card{{ modifier ? ' ' ~ modifier : '' }}
  {{- attributes ? ' ' ~ attributes.class -}}"
  {{- attributes ? attributes|without(class) -}}>
  {% if url %}
    <a href="{{ url }}" class="icon-card__link">
      {% if icon %}
        <div class="icon-card__icon">
          {% include '@assets/icons/bullhorn.svg' %}
        </div>
      {% endif %}
      {% if text %}
        <div class="icon-card__text">
          {{ text }}
        </div>
      {% endif %}
    </a>
  {% endif %}
</article>
