{{ attach_library('almd/breaker') }}

<article class="breaker{{ modifier ? ' ' ~ modifier }}
  {{- attributes ? ' ' ~ attributes.class -}}"
  {{- attributes ? attributes|without(class) -}}>
  {{ title_prefix }}
  {{ title_suffix }}
  <div class="breaker__image">
    {{ image }}
  </div>
  <div class="breaker__content">
    {% if category %}
      {% include "@atoms/label/label.twig" with {
        "text": category,
        "modifier": "label--large",
      } only %}
    {% endif %}
    {% if title %}
      {% include "@atoms/title/title.twig" with {
        "level": title.level,
        "modifier": title.modifier,
        "text": title.text,
        "url": title.url,
      } only %}
    {% endif %}
    {% if body %}
      <div class="breaker__body">
        {{ body }}
      </div>
    {% endif %}
    {% if cta or cta2 %}
      <div class="breaker__cta">
        {% if cta %}
          {% include "@atoms/button/button.twig" with {
            "icon": cta.icon,
            "modifier": cta.modifier,
            "text": cta.text,
            "url": cta.url,
          } only %}
        {% endif %}

        {% if cta2 %}
          {% include "@atoms/button/button.twig" with {
            "icon": cta2.icon,
            "modifier": cta2.modifier,
            "text": cta2.text,
            "url": cta2.url,
          } only %}
        {% endif %}
      </div>
    {% endif %}
  </div>
</article>
