{{ attach_library('almd/alert') }}

<article class="alert" style="background-color:{{ background }};">
  <i class="alert__icon fa-solid fa-circle-info"></i>
  <a href="{{ url }}">
    <p>{{ message }}
      <span class="alert__read-more">{{ 'Read more'|t }}</span>
    </p>
  </a>
</article>
