{{ attach_library('almd/logo') }}

{% if name or slogan or seal or initials %}
  <a class="logo"
    href="{{ url }}"
    rel="home"
    title="{{ name }}, {{ slogan}}">
    {% if initials %}
      <span class="logo__initials">
        {{ initials }}
      </span>
    {% endif %}
    <span class="logo__site-name">
      <span class="site-name__name">{{ name }}</span>
      <span class="site-name__slogan">{{ slogan }}</span>
      <span class="site-name__judge">{{ judge }}</span>
      <span class="site-name__clerk">{{ clerk }}</span>
    </span>
  </a>
{% endif %}
