{% if url %}
  <a href="{{ url }}" class="button{{ modifier ? ' ' ~ modifier: '' }}">
    {{ text }}
    {# Using a twig block to be able to add an icon as needed. #}
    {% if icon %}
      <i class="button__icon {{ icon }}"></i>
    {% endif %}
  </a>
{% else %}
  <button class="button{{ modifier ? ' ' ~ modifier: '' }}">
    {{ text }}
    {% if icon %}
      <i class="button__icon {{ icon }}"></i>
    {% endif %}
  </button>
{% endif %}
